# Supabase project configuration

VITE_SUPABASE_PROJECT_ID=<SUBSTITUTE_SUPABASE_PROJECT_ID>
VITE_SUPABASE_URL=<SUBSTITUTE_SUPABASE_URL>
VITE_SUPABASE_PUBLISHABLE_OR_ANON_KEY=<SUBSTITUTE_SUPABASE_PUBLISHABLE_KEY>

# Google OAuth client secret
VITE_SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_ID=<SUBSTITUTE_SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_ID>
VITE_SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET=<SUBSTITUTE_SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET>